<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanapruebados">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MDetalleAdiccion.EstablecimientoListActivity"
            android:label="@string/title_establecimiento_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MDetalleAdiccion.EstablecimientoDetailActivity"
            android:label="@string/title_establecimiento_detail"
            android:parentActivityName=".MDetalleAdiccion.EstablecimientoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanapruebados.MDetalleAdiccion.EstablecimientoListActivity" />
        </activity>
        <activity
            android:name=".MDetalleAdiccion.centroListActivity"
            android:label="@string/title_centro_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MDetalleAdiccion.centroDetailActivity"
            android:label="@string/title_centro_detail"
            android:parentActivityName=".MDetalleAdiccion.centroListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanapruebados.MDetalleAdiccion.centroListActivity" />
        </activity>
        <activity
            android:name=".MDetalleAdiccion.AdiccionListActivity"
            android:label="@string/title_adiccion_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MDetalleAdiccion.AdiccionDetailActivity"
            android:label="@string/title_adiccion_detail"
            android:parentActivityName=".MDetalleAdiccion.AdiccionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sanapruebados.MDetalleAdiccion.AdiccionListActivity" />
        </activity>
        <activity
            android:name=".miInicio"
            android:label="@string/title_activity_mi_inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".establecimientos" />
        <activity android:name=".adicciones" />
        <activity android:name=".inicio" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>